* {
	box-sizing: border-box;
}
body {
	font-size: 62.5%;
	font-family: sans-serif;
	background: #3b3837;
}
.container {
	display: flex;
	color: white;
	font-size: 20px;

	
}
button {
	border-radius: 100%; 
	color: #ff7292;;
	background: #3b3837;
	border-color: #ff7292;
	
}
.menuimage {
	width: 40px;
	height: 40px;
	margin-top: 60px;
}

.menu {
	width: 15%;
	display: flex;
	flex-wrap: wrap;
	border-right: solid black 1.8px;
	justify-content: space-between;
	position: fixed;
	height: 100vh;
	background-color: #3b3837;
	
}



a {
	text-decoration: none;
}

nav {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}


nav a {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: solid 0.5px gray;
	color: white;
	margin-left: 30%;
	margin-right: 30%;
	
}
nav a:hover, nav a.current {      
        color: #ff7292;
		border-color: #ff7292;
    }



.navigation, .links, .logo {
	width: 100%;
}
.links, .logo {
	display: flex;
	justify-content: space-around;
}


.rightsection {
	
	width: 100%;
	margin-left: 15%;
}

.hiddenmenubutton {
	position: absolute;
	top: 2%;
	right: 2%;
	padding: 15px;
	color: #ff7292;
	border-color: #ff7292;
	display: none;
	
	
}

.info {
	display:flex;
	justify-content: space-around;
	padding: 30px;
	margin: 8%;
	height: auto;
	flex-wrap: wrap;
	
}

h3 {
	border-bottom: dotted 1.5px #ff7292;
	padding-bottom: 3%;
	margin-left: 10%;
	margin-right: 10%;
}

.left, .right {
	width: 30%;
}

h1 {
	color: #ff7292;
}
.contactheader {
	text-align: center;
	margin-bottom: 60px;
	
}

.contact {
	width: 100%;
	
}
.left.contactleft {
	text-align: center;
	color: #ff7292;
	width:100%;
}
span {
	color: white;
}
footer {
	text-align: center;
	border-top: solid 1px #ff7292;
	margin: 10%;
	padding: 10px;
}

@media only screen and (max-width: 1000px) {
	.menu {
		display: none;
	}

	.right, .left {
		width: 100%;
		
	}
	.hiddenmenubutton {
		display: inline;
	}
	.rightsection {
		margin-left: auto;
	}
}
