* {
	box-sizing: border-box;
}
body {
	font-size: 62.5%;
	font-family: sans-serif;
}
.container {
	display: flex;
	background: #3b3837;
	color: white;
	font-size: 20px;
	height: 100vh;
}
button {
	border-radius: 100%; 
	color: white;
	background: #3b3837;
	
}
.menuimage {
	width: 40px;
	height: 40px;
	margin-top: 60px;
}

.menu {
	width: 15%;
	display: flex;
	flex-wrap: wrap;
	border-right: solid black 1.8px;
	justify-content: space-between;	
}

a {
	text-decoration: none;
}

nav {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}


nav a {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: solid 0.5px gray;
	color: white;
	margin-left: 30%;
	margin-right: 30%;
	
}
nav a:hover, nav a.current {      
        color: #f26988;
		border-color: #f26988;
    }


.navigation, .links, .logo {
	width: 100%;
}
.links, .logo {
	display: flex;
	justify-content: space-around;
}


.rightsection {
	
	width: 100%;

}
.hiddenmenubutton {
	position: absolute;
	top: 2%;
	right: 2%;
	padding: 15px;
	display: none;
	
}

.info {
	display:flex;
	justify-content: space-around;
	padding: 30px;
	margin: 8%;
	
}

.left, .right {
	width: 30%;
}

footer {
	text-align: center;
	border-top: solid 1px gray;
	margin: 10%;
	padding: 10px;
}

@media only screen and (max-width: 1000px) {
	.menu {
		display: none;
	}
	.info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.right, .left {
		width: 100%;
		
	}
	.hiddenmenubutton {
		display: inline;
	}
}
